@model CrapsGame
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h2> Horn Bet</h2>

    @if (Model.ErrorMessage != null)
    {
        <p>@Model.ErrorMessage</p>
    }

    <p>Bet: @Model.Bet</p>
    <p>Dice Roll: @Model.RolledNumber</p>


    <div class="form-group">
        <form asp-action="Play">
            <label for="userAnswer">Enter Your Answer:</label>
            <input type="number" id="userAnswer" name="userAnswer" min="0" required autofocus />
            <button type="submit" class="btn btn-primary">Submit Answer</button>
        </form>
    </div>
</div>

